<head>
    <title>{{ page.title }}</title>
    <meta name="author" content="Mike Atkins"></meta>
    <link href='http://fonts.googleapis.com/css?family=Merriweather|Aldrich'
    rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/layout.css" type="text/css">
</head>

</body>

    <div id="header">
        <a href="/"><h1>Welcome to the Apehouse.</h1></a>
    </div>

    <div id="content">
        {{ content }}
    </div>

        <hr>
    <div id="footer">
        If you would like to ask a question or make a comment, please send email to
        <a href="mailto:michael.redmond.atkins@gmail.com">Mike Atkins</a>
    </div>

</body>
